.ui-button-text{
    padding: 0 !important;
}
span[role='status']{
    display: none;
}
.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 150px;
}
.custom_create{
    display: none;
}
.flashes {
    width:910px;
    height:40px;
    position:absolute;
    top:60px;
    left:20px;
}
.flash {
    margin-bottom:10px;
    padding:8px 12px;
    font-size:12px;
    font-style:italic;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.flash.success { color:#007700; background-color:#e0f8dd; }
.flash.error { color:#7a0000; background-color:#fdd9d9; }

.avatar_img{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}

#company_tabs table th{
    width: 250px;
}