body{
    cursor: default !important;
}
.ui-button-text{
    padding: 0 !important;
}
span[role='status']{
    display: none;
}
.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.NoYearDatePicker .ui-datepicker-year {
    display:none;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 150px;
}
.custom_create{
    display: none;
}
.flashes {
    width:910px;
    height:40px;
    position:absolute;
    top:60px;
    left:20px;
}
.flash {
    margin-bottom:10px;
    padding:8px 12px;
    font-size:12px;
    font-style:italic;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.flash.success { color:#007700; background-color:#e0f8dd; }
.flash.error { color:#7a0000; background-color:#fdd9d9; }

.fleet_img{
    padding-right: 5px;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
.avatar_img{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}

#company_tabs table th{
    width: 250px;
}
.fleets_form label{
    display: inline-block !important;
}

.fleet-detail div.row{
    height: 34px;
}

.row > h3, .row > h4 {
    height: 34px;
    margin: 0;
    padding: 5px;
}

.photo_prev{
    height: auto !important;
}

.photo_prev img {
    width: 150px;
    height: 150px;
}

#select_languages .ui-selecting { background: #FECA40; }
#select_languages .ui-selected { background: #F39814; color: white; }
#select_languages { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#select_languages li { margin: 3px; padding: 1px; float: left; width: 100px; height: 45px; text-align: center; }

.cell{
    height: 160px;
    margin: 2px 4px;
    padding: 0;
    width: 24%;
    border-radius: 5px;
    text-align: center;
}
.cell span.glyphicon{
    font-size: 50px;
    margin-top: 30px;
}
.cell span.delete-img.glyphicon{
    font-size: 100%;
    margin-top: 3px;
}
.cell img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}
.cell h5{
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
}
#upload_preview{
    height: 100%;
}
#upload_preview img{
    width: 100px;
    height: 100px;
    margin: 0 5px;
}
#upload_preview li, .cell li{
    cursor: move;
    list-style: none;
}
.images{
    z-index: 1000;
    text-align: center;
}
.delete-img {
    width: 100% !important;
    display: block;
    margin-top: 3px;
}
.layout_preview div.qq-upload-button{
    width: 100% !important;
}
.layout_preview span.glyphicon{
    font-size: 50px;
    margin-top: 30px;
}
.layout_preview div.panel-body {
    height: 140px;
}
.layout_preview div.panel-body img {
    width: 100%;
    height: 100%;
}
.layout_preview ul.qq-upload-list {
    display: none !important;
}

.link_row{
    cursor: pointer;
}

.link_row:hover{
    background-color: #dddddd;
}
.fleet-detail span.glyphicon{
    font-size: 20px;
}
.fleet-detail div.row.text-danger{
    cursor: pointer;
}
.ui-datepicker-trigger {
    display: none;
}
#fleet_map_wrapper{
    width: 300px;
    height: 300px;
}
#fleet_map{
    width: 100%;
    height: 100%;
}