.btn-xxs{
    padding: 1px 5px;
    margin: 2px;
    font-size: 8px;
}
.fleet_card{
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.fleet_img{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
.row.fleet_card{
    margin: 2px 10px 2px 0;
}
.fleet_detail .row{
    font-size: 10px !important;
}
.gm-style-iw{
    max-height: 300px;
}