.btn-xxs{
    padding: 1px 5px;
    margin: 2px;
    font-size: 8px;
}
.fleet_card{
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
}
.fleet_img{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}
.row.fleet_card{
    margin: 12px;
}
.fleet_detail .row{
    font-size: 10px !important;
}